APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mail.tigerd.vn
MAIL_PORT=26
MAIL_USERNAME=sales@tigerd.vn
MAIL_PASSWORD=ejwjh)V5vh;wJr!
MAIL_ENCRYPTION=null

THUMBNAIL_PATH_BIG = /storage/app/public/original
THUMBNAIL_PATH_SMALL = /storage/app/public/original/thumbnails
REMOVE_PATH = /

OP_MERCHANT = TESTONEPAY
OP_ACCESS =  6BEB2546
OP_SECURE = 6D0870CDE5F24F34F3915FB0045120DB

ANALYTICS_VIEW_ID = 168605604
ADMIN_PAGE_EMAIL = meo@tigerd.vn